/* ここから下に記載していく */
body{
    width: 100%;
    margin: 0 auto;
}

html{
    scroll-padding-top:121px ;
}

/* ヘッダーについて下に記載 */
.header{
    background-color: white;
    width: 100%;
    position:fixed;
    top:0;
    height: 80px;
    display: flex;
    z-index: 50;
}

/* 以下、PC用デザイン */
@media screen and (min-width:960px) {
.header img{
    width: 180px;
    object-fit: contain;
    padding-left: 20px;
}

.header-list{
margin-top: auto;
margin-bottom: auto;
margin-left: 50px;
}

.header ul{
    display: flex;
    font-size: 12px;
}

.header li{
    margin-right: 30px;
}

.header a{
    text-decoration: none;
    color:#231815;
}}

/* 以下、スマホ用デザイン */
@media screen and (max-width:960px) {
    .header img{
        width: 180px;
        object-fit: contain;
        padding-left: 20px;
    }
    
    .header-list{
    display: none;
    }}

/*=========================================
#hamburger
=========================================*/
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 150;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger.is-active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.hamburger span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background-color: #333333;
    transition: transform .3s;
}

.hamburger.is-active span {
    background-color: #ffffff;
}

.hamburger span:nth-child(1) {
    top: 30%;
}

.hamburger span:nth-child(2) {
    top: 60%;
}

.hamburger span:nth-child(3) {
    top: 90%;
}

/*=========================================
#drawer
=========================================*/
.drawer {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    width: 100%;
    height: 100vh;
    background-color: #333333;
    transition: opacity .3s, visibility .3s;
}

.drawer.is-active {
    visibility: visible;
    opacity: 1;
}

.drawer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.drawer__list {
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.drawer__link {
    color: #ffffff;
}




/* ===============================================
# 共通
=============================================== */
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;
    vertical-align: middle;

    shape-margin: .75rem;
}

.sp-show {
  display: none;
}

@media screen and (max-width: 960px) {
  .sp-show {
    display: block;
  }
  .sp-none {
    display: none;
  }
}


/* メインビジュアルについて下に記載 */
.wave h1{
    font-size: 30px;
    font-weight: 100;
    margin-top: 500px;
    margin-left: 20px;
}

.wave span{
    font-size: 18px;
    letter-spacing: 2px;
}

.wave {
	background: url("../img/mainbg.png") no-repeat center;
	background-size: cover;
	height: 1000px;
	position: relative;
	display: flex;
	/*contentsをcenterに*/
	color: #ffffff;
}

.wave::after {
	background: url(../wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -10px;
    content: '';
    height: 280px;
    position: absolute;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.scroll_down {
  position: relative;
  width: 100%;
  height: 3vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll_down:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg,rgba(#000, 0) 0, rgba(#000, .8) 80%, rgba(#000, .8) 100%);
  }

.scroll_down a {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 13px;
  padding: 10px 10px 110px;
  color: #000;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
  transition: .2s;
  overflow: hidden;
  margin: auto;
}

.scroll_down a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100px;
  background: #ddd;
}

.scroll_down a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100px;
  background: #000;
}

.scroll_down a:hover {
  opacity: .5;
}

#type01 a:after {
  animation: sdl01 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl01 {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}


/* コンテンツについて下に記載  */
.about{
    text-align: center;
}

.yellowtitle{
    color: #ffd61a;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
}

h4{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}

p{
    font-size: 16px;
}

.a{
    margin-top: 60px;
}

.b,.c,.d{
    margin-top: 40px;
}

.about img{
    width: 100%;
    margin-top: 80px;
}

.course-1{
    text-align: center;
}

.course-1 h3{
    margin-top: 60px;
}

.blocktitle{
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.e{
    margin-top: 30px;
}

.course-2{
background-color: #fafafa;
}

.tree,.cheese,.school{
    display: flex;
    max-width: 1200px;
    margin:auto;
}

.tree{
    margin-top: 60px;
}

.course-2 img{
    width: 50%;
    max-width: 600px;
    object-fit: cover;
    height: 450px;
}

.course2-text{
    width: 35%;
    padding-top: 10%;
}

.tree .course2-text,.cheese .course2-text{
    padding-left: 50px;
}

.course2-text h3{
    color: black;
    font-size: 24px;
    font-weight: bold; 
    margin-bottom: 40px;
}

.course2-text p{
    margin-top: 40px;
    line-height: 30px;
    width: 100%;
    font-size: 13px;
}

.school{
    justify-content: flex-end;
}

.school .course2-text{
    width: 35%;
    margin-right: 50px;
}

.course2-letter{
    float: right;
}

.news-title{
    text-align: center;
}

.news-contents{
    width:fit-content;
    display: flex;
    max-width: 1200px;
    margin:60px auto 0 auto;
}

.news img{
    width: 100%;
    height: auto;
  transition: transform .6s ease;
}

.news-1,.news-2{
    margin-right: 30px;
}

.news-1{
    margin-left: 10px;
}

.news-3{
    margin-right: 10px;
}

.news-1,.news-2,.news-3{
    overflow: hidden;
    transition : background-color 0.6s ease;
}

.date{
    margin-top: 30px;
}

.news-text-detail{
    margin-top: 10px;
}

.news p{
    font-size: 12px;
    line-height: 30px;
}

.news-1:hover,.news-2:hover,.news-3:hover{
    background-color: #fee67d;
    transition: transform .6s ease;
    transition : background-color 0.6s ease;
}

.news-1:hover img,.news-2:hover img,.news-3:hover img{
    transform: scale(1.1); 
}

.more{
    display: block;
    width: 300px;
    padding: 30px 0;
    margin: auto;
    background: #5f5f5f;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 60px auto;
}
.more:hover{
    background: #000000;
}

.access-title{
    background-color: #fafafa;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Google Mapを囲う要素 */
.map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 30%; /* 比率を4:3に固定 */
}
   
  /* Google Mapのiframe */
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.access-detail{
    background-color: #fafafa;
    padding-top: 60px;
    padding-bottom: 20px;
}

.access table{
    margin:auto;
}

.left{
    width: 130px;
}

.contact h3{
    margin-top: 60px;
}

.contact-a{
    margin-top: 60px;
    text-align: center;
}

.contact-b{
    margin-top: 30px;
    text-align: center;
}

.form table{
    margin:70px auto 30px auto;
    width: 640px;
}

.tableleft{
    width: 240px;
    border: solid #bfbfbf 3px;
    height: 52px;
    padding-top: 16px;
    padding-left: 16px;
    border-left: none;
}

.tableleft p{
    margin-bottom: 16px;
}

.tableright{
    width: 400px;
    border: solid #bfbfbf 3px;
    height: 52px;
    padding-left: 8px;
    vertical-align: middle;
    border-right: none;
}

.textbox1{
    width: 328px;
    height: 36px;
    border-color: #bfbfbf;
}

.textbox2{
    width: 328px;
    height: 130px;
    margin-top:8px;
    margin-bottom: 8px;
}

input[type="text"],input[type="email"],
textarea{
  caret-color:#ffab1a;
  border:1px solid #000;
  padding:10px;
}

input[type="text"]:focus,input[type="email"]:focus,
textarea:focus{
  border:2px solid #ffab1a;
  outline: none;
}

input[type=checkbox] {
    display: none;
}
.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox01::before {
    background: #fff;
    border: 1px solid #231815;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox01::after {
    border-right: 3px solid #ffab1a;
    border-bottom: 3px solid #ffab1a;
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
}
input[type=checkbox]:checked + .checkbox01::after {
    opacity: 1;
}

.submit{
    display: block;
    width: 300px;
    padding: 24px 0;
    margin: auto;
    background: #5f5f5f;
    color: #FFF;
    font-size: 18px;
    border: none;
    text-align: center;
    margin-bottom:140px;
}

.submit:hover{
    background: #000000;
}

/* フッターについて下に記載 */
footer{
    background-color:  #707070;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p{
    font-size: 18px;
    color: white;
    text-align: center;
}

